@charset "utf-8";
/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change 

http://www.paulirish.com/2012/box-sizing-border-box-ftw/

*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 

body {
	background: #F1F1F1 url(https://ensomniacs.github.io/ifsc-3342/assets/img/background.png) fixed repeat top left;
	color: #666;
	font: 0.84em verdana;
}

#main {
	top: 1%;
	margin:1%;
}
.logo {
	float: left;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    width: 75px;
}
.gallery {
	width: 600px;
}

.box {
	background: white;
	width: 98%;
	height: auto;
	padding: 40px;
	margin-bottom: 55px;
	text-align: justify;
}


.box h1 {
	color: #555;
	font-family: tahoma,sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: left;
	padding: 0px;
	text-transform: uppercase;
	line-height: 100%;
	margin: 20px;
	padding: 20px 0px 20px 0px;
}
h1 {
	color: #555;
	font-family: tahoma,sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-align: left;
	padding: 0px;
	text-transform: uppercase;
	line-height: 100%;
	margin: 0px;
}
h2 {
	font-family: tahoma;
	font-size: 1.8em;
	font-weight: bold;
	text-align: Center;
	text-transform: uppercase;
}

h3 {
	color: #83bad8;
	font-family: verdana;
	font-size: 20px;
	font-weight: normal;
	border-bottom: 2px solid #83bad8;
	border-width: 5px;
	text-align: left;
	text-transform: uppercase;
	margin: 0px 0px 15px 5px;
}

p {
    margin-top: 10px;
    text-indent: 25px;
}

a {
	color: #888 !important;
	font: .6em verdana !important;
	text-decoration: none;
	letter-spacing: 1px;
}
a:hover {
	color: #888 !important;
}
ul {
	list-style-type: square;
}


.col {
  width:46%;
  margin:1%;
  background:#261A23;
  border-radius:6px;
  padding: 2em;
  float:left;
}

.col:nth-child(odd){
  background:#261A23;
}

.col p{
  color:#fff;
}

.fancy{display:none;}

/* Max-Width Query*/

@media screen and (max-width:600px){
  .col{
    float:none;
    width:100%;
    margin: 20px auto;
  }
  
  .col:nth-child(odd){
    background:#5BA66E;
  }
  .box { float: none;
  width: 100%;
  Margin: 20px auto;
  }
}


/* Ranged Query */

@media screen and (max-width:800px) and (min-width:601px){
  .col {
    float:left;
    width:46%;
    margin:1%;
  }
  
  .col:nth-child(odd), .col:nth-child(odd) p{
    background:#261A23;
    color:#5BA66E;
  }  
  .col:nth-child(even), .col:nth-child(even) p{
      background: #5BA66E;
      color: #261A23;
  }
}


/* Min-width Query */
@media screen and (min-width:1100px){
  .col {
    width:23%;
    margin:1%;
  }
}

  
/*retina specific --- https://goo.gl/Pgu6y */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
	.fancy{display:block; text-align:center}
}